# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [2]:
import pandas as pd
file1='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
file2='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
file3='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
data1=pd.read_csv(file1)
data2=pd.read_csv(file2)
data3=pd.read_csv(file3)
data1.head(),data2.head(),data3.head()

(  Customer          ST GENDER             Education Customer Lifetime Value  \
 0  RB50392  Washington    NaN                Master                     NaN
 1  QZ44356     Arizona      F              Bachelor              697953.59%
 2  AI49188      Nevada      F              Bachelor             1288743.17%
 3  WW63253  California      M              Bachelor              764586.18%
 4  GA49547  Washington      M  High School or Below              536307.65%

     Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
 0      0.0                1000.0                    1/0/00   Personal Auto
 1      0.0                  94.0                    1/0/00   Personal Auto
 2  48767.0                 108.0                    1/0/00   Personal Auto
 3      0.0                 106.0                    1/0/00  Corporate Auto
 4  36357.0                  68.0                    1/0/00   Personal Auto

    Vehicle Class  Total Claim Amount
 0  Four-Door Car            2.704934
 1  Four-Door Car         1131.464935
 2   Two-Door Car          566.472247
 3            SUV          529.881344
 4  Four-Door Car           17.269323  ,
   Customer          ST GENDER Education Customer Lifetime Value  Income  \
 0  GS98873     Arizona      F  Bachelor              323912.47%   16061
 1  CW49887  California      F    Master              462680.11%   79487
 2  MY31220  California      F   College              899704.02%   54230
 3  UH35128      Oregon      F   College             2580706.30%   71210
 4  WH52799     Arizona      F   College              380812.21%   94903

    Monthly Premium Auto Number of Open Complaints  Total Claim Amount  \
 0                    88                    1/0/00               633.6
 1                   114                    1/0/00               547.2
 2                   112                    1/0/00               537.6
 3                   214                    1/1/00              1027.2
 4                    94                    1/0/00               451.2

       Policy Type  Vehicle Class
 0   Personal Auto  Four-Door Car
 1    Special Auto            SUV
 2   Personal Auto   Two-Door Car
 3   Personal Auto     Luxury Car
 4  Corporate Auto   Two-Door Car  ,
   Customer       State  Customer Lifetime Value             Education Gender  \
 0  SA25987  Washington              3479.137523  High School or Below      M
 1  TB86706     Arizona              2502.637401                Master      M
 2  ZL73902      Nevada              3265.156348              Bachelor      F
 3  KX23516  California              4455.843406  High School or Below      F
 4  FN77294  California              7704.958480  High School or Below      M

    Income  Monthly Premium Auto  Number of Open Complaints    Policy Type  \
 0       0                   104                          0  Personal Auto
 1       0                    66                          0  Personal Auto
 2   25820                    82                          0  Personal Auto
 3       0                   121                          0  Personal Auto
 4   30366                   101                          2  Personal Auto

    Total Claim Amount  Vehicle Class
 0          499.200000   Two-Door Car
 1            3.468912   Two-Door Car
 2          393.600000  Four-Door Car
 3          699.615192            SUV
 4          484.800000            SUV  )

In [3]:
def clean_data(df):
    standardized_columns = {
        'ST': 'State',
        'GENDER': 'Gender',
    }
    df = df.rename(columns=standardized_columns)
    desired_order = ['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']
    df = df.reindex(columns=[col for col in desired_order if col in df.columns])
    if df['Customer Lifetime Value'].dtype == object:
        df['Customer Lifetime Value'] = df['Customer Lifetime Value'].str.replace('%', '').astype(float) / 100
    if df['Number of Open Complaints'].dtype == object:
        df['Number of Open Complaints'] = df['Number of Open Complaints'].str.extract('(\d+)').astype(float)
    
    return df

In [4]:
data1_cleared=clean_data(data1)
data2_cleared=clean_data(data2)
data3_cleared=clean_data(data3)
data1_cleared.head(),data2_cleared.head(),data3_cleared.head()

(  Customer       State Gender             Education  Customer Lifetime Value  \
 0  RB50392  Washington    NaN                Master                      NaN
 1  QZ44356     Arizona      F              Bachelor                6979.5359
 2  AI49188      Nevada      F              Bachelor               12887.4317
 3  WW63253  California      M              Bachelor                7645.8618
 4  GA49547  Washington      M  High School or Below                5363.0765

     Income  Monthly Premium Auto  Number of Open Complaints     Policy Type  \
 0      0.0                1000.0                        1.0   Personal Auto
 1      0.0                  94.0                        1.0   Personal Auto
 2  48767.0                 108.0                        1.0   Personal Auto
 3      0.0                 106.0                        1.0  Corporate Auto
 4  36357.0                  68.0                        1.0   Personal Auto

    Vehicle Class  Total Claim Amount
 0  Four-Door Car            2.704934
 1  Four-Door Car         1131.464935
 2   Two-Door Car          566.472247
 3            SUV          529.881344
 4  Four-Door Car           17.269323  ,
   Customer       State Gender Education  Customer Lifetime Value  Income  \
 0  GS98873     Arizona      F  Bachelor                3239.1247   16061
 1  CW49887  California      F    Master                4626.8011   79487
 2  MY31220  California      F   College                8997.0402   54230
 3  UH35128      Oregon      F   College               25807.0630   71210
 4  WH52799     Arizona      F   College                3808.1221   94903

    Monthly Premium Auto  Number of Open Complaints     Policy Type  \
 0                    88                        1.0   Personal Auto
 1                   114                        1.0    Special Auto
 2                   112                        1.0   Personal Auto
 3                   214                        1.0   Personal Auto
 4                    94                        1.0  Corporate Auto

    Vehicle Class  Total Claim Amount
 0  Four-Door Car               633.6
 1            SUV               547.2
 2   Two-Door Car               537.6
 3     Luxury Car              1027.2
 4   Two-Door Car               451.2  ,
   Customer       State Gender             Education  Customer Lifetime Value  \
 0  SA25987  Washington      M  High School or Below              3479.137523
 1  TB86706     Arizona      M                Master              2502.637401
 2  ZL73902      Nevada      F              Bachelor              3265.156348
 3  KX23516  California      F  High School or Below              4455.843406
 4  FN77294  California      M  High School or Below              7704.958480

    Income  Monthly Premium Auto  Number of Open Complaints    Policy Type  \
 0       0                   104                          0  Personal Auto
 1       0                    66                          0  Personal Auto
 2   25820                    82                          0  Personal Auto
 3       0                   121                          0  Personal Auto
 4   30366                   101                          2  Personal Auto

    Vehicle Class  Total Claim Amount
 0   Two-Door Car          499.200000
 1   Two-Door Car            3.468912
 2  Four-Door Car          393.600000
 3            SUV          699.615192
 4            SUV          484.800000  )

In [5]:
combined_data=pd.concat([data1_cleared,data2_cleared,data3_cleared],ignore_index=True)
combined_data.shape,combined_data.head()

((12074, 11),
   Customer       State Gender             Education  Customer Lifetime Value  \
 0  RB50392  Washington    NaN                Master                      NaN
 1  QZ44356     Arizona      F              Bachelor                6979.5359
 2  AI49188      Nevada      F              Bachelor               12887.4317
 3  WW63253  California      M              Bachelor                7645.8618
 4  GA49547  Washington      M  High School or Below                5363.0765

     Income  Monthly Premium Auto  Number of Open Complaints     Policy Type  \
 0      0.0                1000.0                        1.0   Personal Auto
 1      0.0                  94.0                        1.0   Personal Auto
 2  48767.0                 108.0                        1.0   Personal Auto
 3      0.0                 106.0                        1.0  Corporate Auto
 4  36357.0                  68.0                        1.0   Personal Auto

    Vehicle Class  Total Claim Amount
 0  Four-Door Car            2.704934
 1  Four-Door Car         1131.464935
 2   Two-Door Car          566.472247
 3            SUV          529.881344
 4  Four-Door Car           17.269323  )

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [6]:
file='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df=pd.read_csv(file)
pivot_sales_channel = df.pivot_table(values='total_claim_amount', index='sales_channel', aggfunc='sum').round(2)
pivot_clv_gender_education = df.pivot_table(values='customer_lifetime_value', index=['gender', 'education'], aggfunc='mean').round(2)

pivot_sales_channel, pivot_clv_gender_education

(               total_claim_amount
 sales_channel
 Agent                  1810226.82
 Branch                 1301204.00
 Call Center             926600.82
 Web                     706600.04,
                              customer_lifetime_value
 gender education
 F      Bachelor                              7874.27
        College                               7748.82
        Doctor                                7328.51
        High School or Below                  8675.22
        Master                                8157.05
 M      Bachelor                              7703.60
        College                               8052.46
        Doctor                                7415.33
        High School or Below                  8149.69
        Master                                8168.83)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here